<footer class="footer">
  <div class="container">
    <div class="inner-top">
      <h2 class="inner-title">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</h2>
      <form id="email-form" class="inner-form">
        <input id="email-input" name="email" placeholder="Nhập email của bạn..." type="email">
        <button type="submit">Đăng Ký Ngay</button>
      </form>
    </div>

    <div class="inner-middle">
      <nav class="inner-links">
        <ul>
          <li><a href="/">Trang Chủ</a></li>
          <li><a href="/movie-list.html">Phim</a></li>
          <li><a href="/news">Tin Tức</a></li>
          <li><a href="/contacts">Liên Hệ</a></li>
        </ul>
      </nav>
      <nav class="inner-socials">
        <ul>
          <li><a target="_blank" href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a target="_blank" href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </nav>
    </div>

    <div class="inner-bottom">
      <div class="inner-copyright">© 2025. All rights reserved.</div>
      <div class="inner-logo">
        <a href="/">
          <img src="/assets/images/logo.png" alt="BookingMovies">
        </a>
      </div>
      <nav class="inner-links">
        <ul>
          <li><a href="#">Điều khoản dịch vụ</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>