html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    block title
    link(rel="stylesheet", href="/admin/assets/css/style.css")
    script. 
      const pathAdmin = '#{pathAdmin}';
  body
    .page-account
      block main

    script(src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js")
    script(src="/admin/assets/js/account.js")