extends ../layouts/default.pug

block main
  .section-12
    .container
      .inner-wrap
        h2.inner-title-main Quên Mật Khẩu
        p.inner-desc Vui lòng nhập email để nhận mã OTP
        form#user-forgot-password-form
          .inner-info
            .inner-inputs
              .inner-input
                input(
                  placeholder="Email *" 
                  name="email" 
                  type="email"
                )
          .inner-button
            button(type="submit") Gửi Mã OTP
        .inner-more
          span Đã nhớ mật khẩu?
          a(href="/user/login") Đăng nhập