extends ../layouts/default.pug
include ../mixins/options.pug

block main
  h1.box-title Tạo danh mục

  .section-8
    form#category-create-form
      .inner-group
        label(class="inner-label" for="name") Tên danh mục
        input(type="text" id="name" name="name")
      .inner-group
        label(class="inner-label" for="parent") Danh mục cha
        select(id="parent" name="parent")
          option(value="") -- Chọn danh mục --
          +options(categoryList, 0)
      .inner-group
        label(class="inner-label" for="position") Vị trí
        input(type="number" id="position" name="position")
      .inner-group
        label(class="inner-label" for="status") Trạng thái
        select(id="status" name="status")
          option(value="active") Hoạt động
          option(value="inactive") Dừng hoạt động
      .inner-group.inner-two-col
        label(class="inner-label" for="avatar") Ảnh đại diện
        div(class="inner-upload-image")
          input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
      .inner-group.inner-two-col
        label(class="inner-label" for="description") Mô tả
        textarea(id="description" textarea-mce name="description")
      .inner-button.inner-two-col
        button Tạo mới
    .inner-back
      a(href=`/${pathAdmin}/category/list`) Quay lại danh sách