extends ../layouts/default.pug

block main
  .section-10
    img(src="/admin/assets/images/error-404.svg" class="inner-image")
    h1(class="inner-title") Trang này không tồn tại...
    a(href=`/${pathAdmin}/dashboard` class="inner-back") Trở về trang tổng quan