extends ../layouts/default.pug

block main
  h1.box-title Đổi mật khẩu

  .section-8
    form#profile-change-password-form
      .inner-group
        label(class="inner-label" for="password") Mật khẩu mới
        input(type="password" id="password" name="password")
      .inner-group
        label(class="inner-label" for="confirmPassword") Nhập lại mật khẩu mới
        input(type="password" id="confirmPassword" name="confirmPassword")
      .inner-button.inner-two-col
        button Đổi mật khẩu