extends ../layouts/account.pug

block main
    .form-account
        h2.inner-title Tài khoản đã được tạo 
        p.inner-desc Vui lòng chờ được phê duyệt
        
        .inner-more
            span Đã được duyệt?
            a(href=`/${pathAdmin}/account/login`) Đăng nhập