extends ../layouts/default.pug

block main
  h1.box-title Cài đặt chung

  //- Section 9
  .section-9
    a(href=`/${pathAdmin}/setting/website-info` class="inner-item")
      .inner-icon <i class="fa-solid fa-info"></i>
      .inner-text Thông tin website
  //- End Section 9