<link rel="stylesheet" href="/services/main-app/public/admin/assets/css/style.css">
<nav class="sider">
  <ul class="inner-menu">
    <li><a href="#"><i class="fa-solid fa-gauge-high"></i> Tổng quan</a></li>
    <li><a href="#"><i class="fa-solid fa-table-cells-large"></i> Quản lý danh mục</a></li>
    <li><a href="index.html"><i class="fa-solid fa-film"></i> Quản lý Phim</a></li>
    <li><a href="#"><i class="fa-solid fa-ticket"></i> Quản lý đặt vé</a></li>
    <li><a href="#"><i class="fa-solid fa-users"></i> Quản lý người dùng</a></li>
    <li><a href="#"><i class="fa-solid fa-envelope"></i> Thông tin liên hệ</a></li>
  </ul>
  <hr>
  <ul class="inner-menu">
    <li><a href="#"><i class="fa-solid fa-gear"></i> Cài đặt chung</a></li>
    <li><a href="#"><i class="fa-solid fa-user-gear"></i> Thông tin cá nhân</a></li>
    <li><a href="#" class="inner-logout"><i class="fa-solid fa-power-off"></i> Đăng xuất</a></li>
  </ul>
</nav>
<div class="sider-overlay"></div>