<link rel="stylesheet" href="assets/css/style.css">
<header class="header">
  <div class="inner-logo">
    <a href="index.html">
      <span>Booking</span><span>Movies</span>
    </a>
  </div>
  <div class="inner-wrap">
    <div class="inner-account">
      <div class="inner-avatar">
        <img src="https://via.placeholder.com/44" alt="Admin">
      </div>
      <div class="inner-text">
        <div class="inner-name">Admin</div>
      </div>
    </div>
    <button class="inner-button-menu">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>